@import url("https://cdn.brand.illinois.edu/illinois.css");

ilw-footer {
    font: 400 1rem var(--il-font-sans);

    a {
        color: inherit;
        text-decoration: underline;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
        cursor: pointer;
    }

    a:focus {
        color: var(--ilw-color--focus--text);
        background-color: var(--ilw-color--focus--background);
        outline: var(--ilw-color--focus--outline);
        text-decoration-thickness: 0.1rem;
    }

    address {
        all: inherit;
        display: block;
        font: 400 18px/30px var(--il-font-sans);
    }

    address p {
        all: inherit;
        display: block;
        margin: 0;
        padding: 0;
    }

    address a:hover {
        color: var(--ilw-color--heading-link-hover);
    }

    /* Site name */

    *[slot="site-name"] {
        all: initial;
        color: var(--il-blue);
        font: normal 700 24px/30px var(--il-font-sans);
    }

    a[slot="site-name"],
    *[slot="site-name"] a {
        color: var(--ilw-color--heading-link);
        cursor: pointer;
        text-decoration: none;
    }

    a[slot="site-name"]:hover,
    *[slot="site-name"] a:hover,
    a[slot="site-name"]:focus,
    *[slot="site-name"] a:focus {
        text-decoration: underline;
    }

    a[slot="site-name"]:focus,
    *[slot="site-name"] a:focus {
        color: var(--ilw-color--focus--text);
        background-color: var(--ilw-color--focus--background);
        outline: var(--ilw-color--focus--outline);
        text-decoration-thickness: 0.1rem;
    }

    /* Primary unit */

    *[slot="primary-unit"] {
        all: initial;
        display: block;
        margin-top: 30px;
        color: var(--il-blue);
        font: 700 18px/30px var(--il-font-sans);
    }

    a[slot="primary-unit"],
    *[slot="primary-unit"] a {
        color: var(--ilw-color--heading-link);
        cursor: pointer;
        text-decoration: none;
    }

    a[slot="primary-unit"]:hover,
    *[slot="primary-unit"] a:hover,
    a[slot="primary-unit"]:focus,
    *[slot="primary-unit"] a:focus {
        text-decoration: underline;
    }

    a[slot="primary-unit"]:focus,
    *[slot="primary-unit"] a:focus {
        color: var(--ilw-color--focus--text);
        background-color: var(--ilw-color--focus--background);
        outline: var(--ilw-color--focus--outline);
        text-decoration-thickness: 0.1rem;
    }

    ul[slot="primary-unit"] {
        list-style: none;
        padding-left: 0;
    }

    ul[slot="primary-unit"] li {
        list-style: none;
    }

    /* Social media */

    nav[slot="social"] {
        all: initial;
        display: block;
        padding-bottom: 27px;

        &:last-child {
            padding-bottom: 0;
        }

        ul {
            all: initial;
            position: relative;
            margin-left: -0.35rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.25rem 0.25rem;
        }

        li {
            all: initial;
            display: inline-block;
            white-space: nowrap;
        }

        a {
            all: initial;
            position: relative;
            display: none;
            color: var(--ilw-color--control-text);
            font: 700 1rem var(--il-font-sans);
            cursor: pointer;
            background-image: var(--ilw-footer-social-icon);
            width: max(22px, 2.75rem);
            height: max(22px, 2.75rem);
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            text-indent: 3rem;
        }

        a:hover {
            background-image: var(--ilw-footer-social-icon-hover);
        }

        a:focus {
            color: var(--ilw-color--focus--text);
            background-color: var(--ilw-color--focus--background);
            outline: var(--ilw-color--focus--outline);
            outline-width: 0.2rem;
        }

        a[data-service="bluesky"],
        a[data-service="calendar"],
        a[data-service="facebook"],
        a[data-service="flickr"],
        a[data-service="github"],
        a[data-service="instagram"],
        a[data-service="linkedin"],
        a[data-service="mastodon"],
        a[data-service="pinterest"],
        a[data-service="reddit"],
        a[data-service="snapchat"],
        a[data-service="spotify"],
        a[data-service="threads"],
        a[data-service="tiktok"],
        a[data-service="twitter"],
        a[data-service="weibo"],
        a[data-service="whatsapp"],
        a[data-service="x"],
        a[data-service="yelp"],
        a[data-service="youtube"] {
            display: block;
        }

        a[data-service="bluesky"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/bluesky.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/bluesky.svg");
        }

        a[data-service="calendar"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/calendar.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/calendar.svg");
        }

        a[data-service="facebook"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/facebook.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/facebook.svg");
        }

        a[data-service="flickr"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/flickr.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/flickr.svg");
        }

        a[data-service="github"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/github.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/github.svg");
        }

        a[data-service="instagram"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/instagram.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/instagram.svg");
        }

        a[data-service="linkedin"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/linkedin.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/linkedin.svg");
        }

        a[data-service="mastodon"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/mastodon.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/mastodon.svg");
        }

        a[data-service="pinterest"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/pinterest.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/pinterest.svg");
        }

        a[data-service="reddit"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/reddit.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/reddit.svg");
        }

        a[data-service="snapchat"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/snapchat.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/snapchat.svg");
        }

        a[data-service="spotify"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/spotify.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/spotify.svg");
        }

        a[data-service="threads"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/threads.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/threads.svg");
        }

        a[data-service="tiktok"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/tiktok.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/tiktok.svg");
        }

        a[data-service="twitter"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/twitter.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/twitter.svg");
        }

        a[data-service="weibo"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/weibo.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/weibo.svg");
        }

        a[data-service="whatsapp"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/whatsapp.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/whatsapp.svg");
        }

        a[data-service="x"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/x.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/x.svg");
        }

        a[data-service="yelp"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/yelp.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/yelp.svg");
        }

        a[data-service="youtube"] {
            --ilw-footer-social-icon: url("https://cdn.brand.illinois.edu/icons/solid/blue/youtube.svg");
            --ilw-footer-social-icon-hover: url("https://cdn.brand.illinois.edu/icons/solid/orange/youtube.svg");
        }
    }

    a[slot="actions"],
    button[slot="actions"],
    *[slot="actions"] a,
    *[slot="actions"] button {
        all: initial;
        display: inline-block;
        background-color: var(--ilw-color--control-accent);
        color: var(--ilw-color--control-accent-text);
        margin-top: 0;
        margin-left: 0.5rem;
        padding: 0.5em 1em;
        border-radius: 0.2em;
        border: 2px solid var(--ilw-color--control-accent-text);
        font: 700 1.25em/1 var(--il-font-sans);
        cursor: pointer;

        &:visited {
            outline: 0;
            background-color: var(--ilw-color--control-accent);
            color: var(--ilw-color--control-accent-text);
            border: var(--ilw-color--control-accent-text);
        }

        &:hover {
            outline: 0;
            background-color: var(--ilw-color--control-accent-text);
            color: var(--ilw-color--control-accent);
            border-color: var(--ilw-color--control-accent);
            text-decoration: underline;
        }

        &:focus {
            background-color: var(--ilw-color--focus--background);
            color: var(--ilw-color--focus--text);
            border-color: var(--ilw-color--focus--text);
            text-decoration: underline;
            outline: var(--ilw-color--focus--outline);
        }

        &:active {
            background-color: var(--ilw-color--control-text);
            color: var(--ilw-color--control-accent-text);
            border-color: var(--ilw-color--control-accent);
            outline: solid var(--ilw-color--control-accent) 2px;
        }
    }

    a[slot="actions"]:first,
    button[slot="actions"]:first,
    *[slot="actions"] a:first-child,
    *[slot="actions"] button:first-child {
        margin-left: 0;
    }

    .ilw-footer-menu {
        margin-bottom: 2em;

        h2 {
            all: initial;
            display: block;
            color: var(--ilw-color--heading);
            font: 700 20px/25px var(--il-font-sans);
            border-bottom: 1px solid var(--ilw-color--heading);
        }
        ul {
            all: initial;
            display: block;
        }
        li {
            all: initial;
            display: block;
            margin: 12px 0 0;
            font: 400 18px/25px var(--il-font-sans);
        }

        a {
            text-decoration: none;
        }

        a:hover,
        a:focus {
            text-decoration: underline;
            cursor: pointer;
        }

        a:focus {
            color: var(--ilw-color--focus--text);
            background-color: var(--ilw-color--focus--background);
            outline: var(--ilw-color--focus--outline);
            text-decoration-thickness: 0.1rem;
        }
    }

    /* Note duplicate rule in ilw-footer.styles.ts */
    button[slot="cookies-button"],
    a[slot="cookies-button"] {
        background-color: var(--ilw-footer--cookie-button--background);
        color: var(--ilw-color--control-accent-text);
        border: 2px solid var(--ilw-color--control-accent-text);
        font: 700 1.188rem / 1.25rem var(--il-font-sans);
        display: inline-block;
        margin: 6px 0;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 0.25em;
        letter-spacing: 0.01em;
        transition: background-color 0.3s;
        cursor: pointer;

        &:visited {
            outline: 0;
            background-color: var(--ilw-color--control);
            color: var(--ilw-color--control-text);
            border: 2px solid var(--ilw-color--control-text);
        }

        &:hover {
            outline: 0;
            background-color: var(--ilw-color--control);
            color: var(--ilw-color--control-text);
            text-decoration: underline;
        }

        &:focus {
            background-color: var(--ilw-color--focus--background);
            color: var(--ilw-color--focus--text);
            border-color: var(--ilw-color--focus--text);
            text-decoration: underline;
            outline: var(--ilw-color--focus--outline);
        }

        &:active {
            background-color: var(--ilw-color--control-accent);
            color: var(--ilw-color--control-accent-text);
            border-color: var(--ilw-color--control-text);
            outline: solid var(--ilw-color--control-text) 2px;
        }
    }
}
