/* Styleable variables are in the base layer so they can be overridden easily */
@layer base {
    :host {
        --ilw-footer--legal-section--divider: #1f3d7b;
        --ilw-footer--cookie-button--background: #174686;
    }
}

:host {
    display: block;
}

.footer {
    display: block;
    container-type: inline-size;
}

.section-container {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: var(--ilw-footer-padding-left);
    padding-right: var(--ilw-footer-padding-right);
}

.site.section-container {
    background-color: var(--ilw-color--gray--background);
    color: var(--ilw-color--gray--heading-link);
    border-top: 0.5rem solid var(--ilw-color--gray--heading-link);
    padding-bottom: 2.125rem;
}

.site.section,
.campus.section,
.legal.section {
    margin: 0 var(--ilw-margin--side, 0);
}

.section-grid {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto auto auto auto;
    grid-template-areas: "site-name" "contact" "actions" "content";
    grid-gap: 27px;
}

.section-grid--no-action {
    /* bump content to top row if no actions slotted */
    grid-auto-rows: auto auto auto;
    grid-template-areas: "site-name" "contact" "content";
}

.section-grid .contact {
    grid-area: contact;
}

.section-grid .site-name {
    grid-area: site-name;
}

.section-grid .actions {
    grid-area: actions;
    justify-self: start;
}

.section-grid .content {
    grid-area: content;
}

.campus.section-container {
    background-color: var(--ilw-color--blue--background);
    color: var(--ilw-color--blue--text);
    border-top: 0.5rem solid var(--ilw-color--blue--control-accent);
}

.campus .logo {
    position: relative;
    margin: 0;
    padding: 0.75rem 0.25rem 3.75rem;
}

.campus .logo a {
    display: block;
    position: relative;
    width: 9.4375rem;
    height: 1.5625rem;
}

.campus .logo svg {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.campus .logo a:hover {
    outline: 2px dotted;
}

.campus svg .illinois {
    fill: var(--ilw-color--control-accent-text);
}

.campus svg .block-i .fill {
    fill: var(--ilw-color--control-accent);
}

.campus svg .block-i .outline {
    fill: var(--ilw-color--control-accent-text);
}

.campus .sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem 1.25rem;
}

.campus h3 {
    margin: 0 0 0.5rem;
    padding: 0;
    font: 600 1.5rem/1.5 var(--il-font-sans);
}

.campus ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.campus li {
    margin: 0;
    padding: 0.5rem 0;
    list-style: none;
}

.campus a {
    color: var(--ilw-color--control-accent-text);
    font: 400 1.125rem/1.5rem var(--il-font-sans);
    text-decoration: none;
}

.campus a:hover,
.campus a:focus {
    text-decoration: underline;
}

.campus a:focus {
    fill: var(--ilw-color--focus--text);
    background-color: var(--ilw-color--focus--background);
    outline: var(--ilw-color--focus--outline);
    color: var(--il-blue);
}

.legal.section-container {
    background-color: var(--ilw-color--blue--background);
    color: var(--ilw-color--blue--text);
    border-top: 0.5rem solid var(--ilw-footer--legal-section--divider); /* --il-industrial-darker-2 */
}

.legal a {
    display: block;
    padding: 0.3125rem;
    color: var(--ilw-color--blue--link);
    font: 400 1rem/1 var(--il-font-sans);
    text-decoration: underline;
}

.legal a:hover {
    outline: 2px dotted;
}

.legal a:focus {
    fill: var(--ilw-color--focus--text);
    background-color: var(--ilw-color--focus--background);
    outline: var(--ilw-color--focus--outline);
    color: var(--il-blue);
}

.cookies-button-and-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875rem;
}

@container (min-width: 600px) {
    .cookies-button-and-links {
        flex-direction: row;
    }
}

@container (min-width: 960px) {
    .section-grid {
        grid-template-columns: 1fr 2fr;
        grid-auto-rows: auto auto;
        grid-template-areas: "site-name actions" "contact content";
    }

    /* bump content to top row if no actions slotted */
    .section-grid--no-action {
        & .content {
            grid-row-start: 1;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 2;
        }
    }

    .section-grid .actions {
        justify-self: end;
    }

    .campus .sections {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Note duplicate rule in ilw-footer.css */
    button[slot="cookies-button"],
    a[slot="cookies-button"],
    .ot-sdk-show-settings {
        background-color: var(--ilw-footer--cookie-button--background);
        color: var(--ilw-color--control-accent-text);
        border: 2px solid var(--ilw-color--control-accent-text);
        font: 700 1.188rem / 1.25rem var(--il-font-sans);
        display: inline-block;
        margin: 6px 0;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 0.25em;
        letter-spacing: 0.01em;
        transition: background-color 0.3s;
        cursor: pointer;

        &:visited {
            outline: 0;
            background-color: var(--ilw-color--control);
            color: var(--ilw-color--control-text);
            border: 2px solid var(--ilw-color--control-text);
        }

        &:hover {
            outline: 0;
            background-color: var(--ilw-color--control);
            color: var(--ilw-color--control-text);
            text-decoration: underline;
        }

        &:focus {
            background-color: var(--ilw-color--focus--background);
            color: var(--ilw-color--focus--text);
            border-color: var(--ilw-color--focus--text);
            text-decoration: underline;
            outline: var(--ilw-color--focus--outline);
        }

        &:active {
            background-color: var(--ilw-color--control-accent);
            color: var(--ilw-color--control-accent-text);
            border-color: var(--ilw-color--control-text);
            outline: solid var(--ilw-color--control-text) 2px;
        }
    }
}
